Binaries
Content\AI_vol3_04
Content\HDR
Content\Interior_Toolkit_Vol_1
Content\ManagerOffice
Content\Megascans
Content\MSPresets
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace